html, .body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  box-shadow: inset 0 0 0 1px #fff;
  transition: 0.5s;
  background-size: 300px 300px;
  background-image: url(./35A6F48963F8C0B2C257C64DC5E18CAD.png);
  position: relative;
}

.item:nth-child(3n+1) {               /*最左边那一竖行*/
  background-position-x: 0;
  left: -20px;
}

 .item:nth-child(3n+2) {/*中间那一竖行*/
  background-position-x: -100%;
}

.item:nth-child(3n) {/*最右边那一竖行*/
  background-position-x: -200%;
  left: 20px;
}

.item:nth-child(n+7) { /* 第七个元素and他的后面所有元素*/
  background-position-y: -200%;
  bottom: -20px;
  transform: rotateX(0deg);
} 
.item:nth-child(-n+6) {
  background-position-y: -100%;
  transform: rotateX(0deg);
} 
.item:nth-child(-n+3) {
  background-position-y: 0%;
  bottom: 20px;
  transform: rotateX(0deg);
} 
.container:hover .item{
  background-image: url(./25F53C115135E04F1499CCE97764B838.png);
  left:0;
  bottom: 0;
  box-shadow: none;
  transform: rotateX(360deg) ;
  animation: wochao 1s linear;
}
@keyframes wochao{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg); /* 3 圈，每圈 360 度 */
  }
}

